<h1>Welcome to my app!</h1>
<p>Sign up here.</p>
<p>Link using /about hard coded.</p>
<%= link_to "click here", "/about" %>
<p>Another link using About_Path</p>
<%= link_to "click here", about_path %>
